<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation=" 
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd"> 
 
	<!-- 
		Initializes Xalan templates objects to perform XSLT transforms 
	-->
	<bean id="transformerFactory" 
		class="javax.xml.transform.TransformerFactory"
		factory-method="newInstance" />
	
	<!-- 
		Convert AP 3.3.4 HPC request to DP 4.0.0 request
	 -->
	<bean id="AP334toDP400RequestTemplateFile" class="org.springframework.core.io.ClassPathResource">
		<constructor-arg value="xml/AP3.3.4-DP4.0.0-request.xsl"/>
	</bean>
	
	<bean id="AP334toDP400RequestTemplate" 
		factory-bean="transformerFactory"
		factory-method="newTemplates">
		
		<constructor-arg>
			<bean class="javax.xml.transform.stream.StreamSource">
				<constructor-arg>
					<bean class="java.io.File"
						factory-bean="AP334toDP400RequestTemplateFile"
						factory-method="getFile" />
				</constructor-arg>
			</bean>
		</constructor-arg>
	</bean>
	
	<!-- 
		Convert DP 4.0.0 response to AP 3.3.4 HPC response
	 -->
	<bean id="AP334toDP400ResponseTemplateFile" class="org.springframework.core.io.ClassPathResource">
		<constructor-arg value="xml/AP3.3.4-DP4.0.0-response.xsl"/>
	</bean>
	
	<bean id="AP334toDP400ResponseTemplate" 
		factory-bean="transformerFactory"
		factory-method="newTemplates">
		
		<constructor-arg>
			<bean class="javax.xml.transform.stream.StreamSource">
				<constructor-arg>
					<bean class="java.io.File"
						factory-bean="AP334toDP400ResponseTemplateFile"
						factory-method="getFile" />
				</constructor-arg>
			</bean>
		</constructor-arg>
	</bean>
</beans> 