<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<context-param> 
		<param-name>contextConfigLocation</param-name> 
		<param-value>
			WEB-INF/applicationContext.xml
			WEB-INF/applicationContext-transform.xml
			WEB-INF/cxf-servlet.xml
		</param-value> 
	</context-param> 
 
	<listener> 
		<listener-class> 
			org.springframework.web.context.ContextLoaderListener
		</listener-class> 
	</listener> 

	<listener>
		<listener-class>
			org.springframework.web.context.request.RequestContextListener
		</listener-class>
	</listener>
	
	<servlet> 
		<servlet-name>CXFServlet</servlet-name> 
		<display-name>CXF Servlet</display-name> 
		<servlet-class> 
			org.apache.cxf.transport.servlet.CXFServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup> 
	</servlet> 
 
	<servlet-mapping> 
		<servlet-name>CXFServlet</servlet-name> 
		<url-pattern>/services/*</url-pattern> 
	</servlet-mapping>
		
	<env-entry>
		<env-entry-name>logback/dataprovider</env-entry-name>
		<env-entry-value>logback.xml</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry> 
</web-app>
