.text {font-family:arial, serif; font-weight:normal; font-size:small;}
.formfields {font-family:arial, serif; font-weight:normal; font-size:small; border:1px solid #241A6A;}
.NavTable-Head { font-family: Arial, Helvetica, sans-serif; font-size: medium; background-color: #241A6A; color: #FFFFFF; font-weight: bold; }
.PageTitle {  font-family: Times New Roman, Times, serif; font-size: 32; color: #993333}