/*
-----------------------------------------------------------------------------------------
CSS Reset
-------------------------------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin:0; padding:0;
    border:0; outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    }
body {line-height: 15px;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}

/* remember to define focus styles! */
:focus {outline: 0;}

/* remember to highlight inserts somehow! */
ins {text-decoration: none;}
del {text-decoration: line-through;}

/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0;}

/*
-----------------------------------------------------------------------------------------
Global Declarations
-------------------------------------------------------------------------------------- */
.clr{clear:both;}
body{   
    padding:30px;
    background-color:#0079c2;
    font-family:Verdana, Geneva, sans-serif;
    font-size:12px;
    }
    h1, h2, h3, h4, h5, h6, p{margin:0 0 12px 0;}
    h1{
        margin:0 0 20px 0;
        font-size:28px; font-weight:normal;
        color:#e86d1f;
        }
    
    h1 span.help{margin-left:10px;}
    
    p.intro{margin:0 0 25px 0;}
    p.tableTitle{
        font-size:18px;
        color:#0079c2;
        }
        p.tableTitle span.expander a.show{
            display:inline-block;
            width:16px; height:16px;
            background:url(../imgs/expand.png) no-repeat 0 0;
            text-decoration:none;
            }
        p.tableTitle span.expander a.close{
            display:inline-block;
            width:16px; height:16px;
            background:url(../imgs/expand-close.png) no-repeat 0 0;
            text-decoration:none;
            }
    div.actionButtons{float:right;margin:10px 0; width:500px; text-align:right;}    
    table{
        font-family:Verdana, Geneva, sans-serif;
        font-size:12px;
        }
        table tr.defRow{background-color:#fff7d8;}
        table tr.altRow{background-color:#fff;}
        table th{
            padding:0 2px;
            text-align:left;
            border-bottom:1px solid #0079c2;
            }
        table td{
            padding:0 2px;
            text-align:left;            
            }
        table td.noPad{padding:0;}
        table td.tFooter{
            padding:3px 0 0 0;
            text-align:left;
            background-color:#f2f2f2;
            color:#6f2525;
            font-style:italic;
            }
            table td.tFooter p{margin:5px 20px;}
    table.tblContainer{
        margin:0 auto;
        width:100%;
        }
        table.tblContainer td.orange{background-color:#e86d1f;}
        table.tblContainer td.white{background-color:#fff;}
        table.tblContainer td.bkHeader{background:#fff url(../imgs/bkgd-header.jpg) repeat-x 0 10px;}
        table.tblContainer td.content{padding:30px 20px 50px 20px;}

                
    table.tblHeader{
        float:left;
        width:100%; height:148px;
        }
        table.tblHeader td.tdHeader{
            float:left;
            }
            table.tblHeader td.tdHeader div.logo{
                float:left;
                margin:20px 0 0 40px;
                width:172px; height:65px;
                }
            table.tblHeader td.tdHeader div.studentInfo{
                float:left;
                padding:20px 0 0 50px;
                width:300px;
                font-size:11px;
                }               
                table.tblHeader td.tdHeader div.studentInfo p{
                    float:left;
                    margin:0 0 4px 0;
                    width:inherit;
                    }
                table.tblHeader td.tdHeader div.studentInfo .inputSSN{
                    float:left;
                    width:inherit
                    }
                    table.tblHeader td.tdHeader div.studentInfo .inputSSN input.SSN{
                        float:left;
                        border:1px solid #0079c2;
                        padding:3px 2px;
                        width:200px; height:15px;
                        color:#555px;
                        font-size:11px; font-style:italic;
                        }
                    table.tblHeader td.tdHeader div.studentInfo .inputSSN input.btn{float:left;}

            table.tblHeader td.tdHeader div.navigation{
                float:right;
                margin:0 40px 0 0;
                width:342px; height:90px;
                font-size:11px;
                }
                
                table.tblHeader td.tdHeader div.navigation ul{list-style:none;}
                    table.tblHeader td.tdHeader div.navigation ul li{
                        float:left;
                        width:342px; height:30px;
                        }
                        table.tblHeader td.tdHeader div.navigation ul li a{
                            display:block;
                            padding:5px;
                            width:332px; height:20px;
                            color:#fff;
                            text-decoration:none;
                            } 
                        table.tblHeader td.tdHeader div.navigation ul li a:hover{color:#333;}
                        table.tblHeader td.tdHeader div.navigation ul li.navA a{background:url(../imgs/bkgd-nav.jpg) no-repeat 0 0;}
                        table.tblHeader td.tdHeader div.navigation ul li.navB a{background:url(../imgs/bkgd-nav.jpg) no-repeat 0 -30px;}
                        table.tblHeader td.tdHeader div.navigation ul li.navC a{background:url(../imgs/bkgd-nav.jpg) no-repeat 0 -60px;}
                        table.tblHeader td.tdHeader div.navigation ul li.navA a:hover{background-position: 0 -90px;}
                        table.tblHeader td.tdHeader div.navigation ul li.navB a:hover{background-position: 0 -120px;}
                        table.tblHeader td.tdHeader div.navigation ul li.navC a:hover{background-position: 0 -150px;}
            table.tblHeader td.tdHeader div.subnavigation{
                float:right;
                padding:7px 40px;
                min-width:1028px; width:100%;
                text-align:right;
                }   
                table.tblHeader td.tdHeader div.subnavigation a{text-decoration:none; color:#EB6E1F;}
                table.tblHeader td.tdHeader div.subnavigation a:hover{text-decoration:underline; color:#0079C2;}
                        
    table.tblAwardInfo{
        float:left;
        margin:3px 0 25px 0;
        min-width:1028px;
        font-size:11px;
        }                   
        table.tblAwardInfo tr th, 
        table.tblAwardInfo tr td {padding:4px 2px;}
        
        table.tblAwardInfo th.thAwardInfo1{width:45px; text-align:center;}      
        table.tblAwardInfo th.thAwardInfo5{width:70px; padding:3px 4px;}
        table.tblAwardInfo th.thAwardInfo6{width:70px; padding:3px 4px;}
        table.tblAwardInfo th.thAwardInfo7{width:70px; padding:3px 4px;}
        table.tblAwardInfo th.thAwardInfo12{width:60px; text-align:center; padding:3px 4px;}
        
        table.tblAwardInfo th.thAwardInfo2,
        table.tblAwardInfo th.thAwardInfo3,
        table.tblAwardInfo th.thAwardInfo4,
        table.tblAwardInfo th.thAwardInfo8,
        table.tblAwardInfo th.thAwardInfo9,
        table.tblAwardInfo th.thAwardInfo10,
        table.tblAwardInfo th.thAwardInfo11{
            width:auto;
            padding:3px 5px;
            }
            
        table.tblAwardInfo td.tdAwardInfo1{width:45px; text-align:center;}      
        table.tblAwardInfo td.tdAwardInfo5{width:70px; padding:3px 4px;}
        table.tblAwardInfo td.tdAwardInfo6{width:70px; padding:3px 4px;}
        table.tblAwardInfo td.tdAwardInfo7{width:70px; padding:3px 4px;}
        table.tblAwardInfo td.tdAwardInfo12{width:60px; text-align:center; padding:3px 4px;}
        
        table.tblAwardInfo td.tdAwardInfo2,
        table.tblAwardInfo td.tdAwardInfo3,
        table.tblAwardInfo td.tdAwardInfo4,
        table.tblAwardInfo td.tdAwardInfo8,
        table.tblAwardInfo td.tdAwardInfo9,
        table.tblAwardInfo td.tdAwardInfo10,
        table.tblAwardInfo td.tdAwardInfo11{
            width:auto;
            padding:3px 5px;
            }

        table.tblAwardInfo td.hideShow{
            display:none;
            padding-bottom:20px;
            }
            
            
            
            
            
    table.tblPaymentNew{
        float:left;
        margin:3px 0 25px 0;
        min-width:1028px;
        font-size:11px;
        }       
        table.tblPaymentNew tr th,      
        table.tblPaymentNew tr td{padding:4px 2px;}
        
                
                
        table.tblPaymentNew tr th.thPaymentNew1,
        table.tblPaymentNew tr td.tdPaymentNew1{width:45px; text-align:center;}
        
        table.tblPaymentNew tr th.thPaymentNew2,
        table.tblPaymentNew tr td.tdPaymentNew2,        
        table.tblPaymentNew tr th.thPaymentNew3,
        table.tblPaymentNew tr td.tdPaymentNew3,
        table.tblPaymentNew tr th.thPaymentNew4,
        table.tblPaymentNew tr td.tdPaymentNew4{width:auto;padding:3px 5px;}
        
        table.tblPaymentNew tr th.thPaymentNew5,
        table.tblPaymentNew tr td.tdPaymentNew5{width:45px; text-align:center;}
        
        table.tblPaymentNew tr th.thPaymentNew6,
        table.tblPaymentNew tr td.tdPaymentNew6{width:60px; padding:3px 4px;}
        
        table.tblPaymentNew tr th.thPaymentNew7,
        table.tblPaymentNew tr td.tdPaymentNew7{width:70px; padding:3px 4px;}
        table.tblPaymentNew tr th.thPaymentNew8,
        table.tblPaymentNew tr td.tdPaymentNew8{width:84px; padding:3px 4px;}
        
        table.tblPaymentNew tr th.thPaymentNew9,
        table.tblPaymentNew tr td.tdPaymentNew9,
        table.tblPaymentNew tr th.thPaymentNew10,
        table.tblPaymentNew tr td.tdPaymentNew10{width:70px; padding:3px 4px; text-align:center;}
        
        table.tblPaymentNew tr th.thPaymentNew11,
        table.tblPaymentNew tr td.tdPaymentNew11,
        table.tblPaymentNew tr th.thPaymentNew12,
        table.tblPaymentNew tr td.tdPaymentNew12{width:auto;padding:3px 5px;}
                
        table.tblPaymentNew tr th.clrWrap,
        table.tblPaymentNew tr td.clrWrap{white-space:nowrap;}
        
        table.tblPaymentNew tr td.tdPaymentNewInfo{width:inherit;text-align:right;}
            table.tblPaymentNew tr td.tdPaymentNewInfo a{padding:0 20px 3px 0;}
            table.tblPaymentNew tr td.tdPaymentNewInfo a.repayment{background:url(../imgs/repayment-info.gif) no-repeat top right;}
            table.tblPaymentNew tr td.tdPaymentNewInfo a.grandTotals{background:url(../imgs/totals.gif) no-repeat top right;}
            table.tblPaymentNew tr td.tdPaymentNewInfo a.messages{background:url(../imgs/messages.gif) no-repeat top right;}
            table.tblPaymentNew tr td.tdPaymentNewInfo a:hover{color:#003144; text-decoration:none;}
        
            
                        
    table.tblPayment{
        float:left;
        margin:3px 0 25px 0;
        min-width:1028px;
        font-size:11px;
        }                   
        table.tblPayment tr th, 
        table.tblPayment tr td {padding:4px 2px;}
        
        table.tblPayment th.thPayment1{width:45px; text-align:center;}      
        table.tblPayment th.thPayment5{width:70px; padding:3px 4px;}
        table.tblPayment th.thPayment6{width:70px; padding:3px 4px;}
        table.tblPayment th.thPayment7{width:70px; padding:3px 4px;}
        table.tblPayment th.thPayment10{width:70px; text-align:center; padding:3px 4px;}
        table.tblPayment th.thPayment11{width:40px; text-align:center; padding:3px 4px;}
        table.tblPayment th.thPayment12{width:60px; text-align:center; padding:3px 4px;}
        
        table.tblPayment th.thPayment2,
        table.tblPayment th.thPayment3,
        table.tblPayment th.thPayment4,
        table.tblPayment th.thPayment8,
        table.tblPayment th.thPayment9{
            width:auto;
            padding:3px 5px;
            }
            
        table.tblPayment td.tdPayment1{width:45px; text-align:center;}      
        table.tblPayment td.tdPayment5{width:70px; padding:3px 4px;}
        table.tblPayment td.tdPayment6{width:70px; padding:3px 4px;}
        table.tblPayment td.tdPayment7{width:70px; padding:3px 4px;}
        table.tblPayment td.tdPayment10{width:70px; text-align:center; padding:3px 4px;}
        table.tblPayment td.tdPayment11{width:40px; text-align:center; padding:3px 4px;}
        table.tblPayment td.tdPayment12{width:60px; text-align:center; padding:3px 4px;}        
        
        table.tblPayment td.tdPaymentLinks{width:100%; text-align:right; padding:3px 4px;}
        
        table.tblPayment td.tdPayment2,
        table.tblPayment td.tdPayment3,
        table.tblPayment td.tdPayment4,
        table.tblPayment td.tdPayment8,
        table.tblPayment td.tdPayment9{
            width:auto;
            padding:3px 5px;
            }

        table.tblPayment td.hideShow{
            display:none;
            padding-bottom:20px;
            }       
            
            
    table.tblBorrower{
        float:left;
        margin:3px 0 25px 0;
        width:800px;
        border:1px solid #e7e7e8;   
        font-size:11px; 
        }       
    table.tblPayment tr td table.tblBorrower{float:none;margin:0 auto;}     
    
        table.tblBorrower tr td{padding:3px 4px;}
        table.tblBorrower tr td.tdBorrowerLinks{
            padding:5px 0 10px 0;
            text-align:center;
            }
        table.tblBorrower tr td.tdBorrowerPastDue{
            text-align:center;
            font-weight:bold;
            font-size:13px; color:#F00;
            }
        table.tblBorrower tr td.tdBorrower1,
        table.tblBorrower tr td.tdBorrower3{
            width:200px;
            text-align:right;
            font-weight:bold;
            }
        table.tblBorrower tr td.tdBorrower2,
        table.tblBorrower tr td.tdBorrower4{width:200px;}
            

    table.tblMsg{
        margin:0 auto;
        width:800px;
        border:1px solid #e7e7e8;
        font-size:11px;
        }   
        table.tblMsg th.thMsg{
            padding:3px 2px;
            background-color:#e7e7e8;
            border:0;
            color:#e86d1f;
            }
        
    table.tblHelp{
        float:left;
        width:775px;
        }
        table.tblHelp tr td{
            float:left;
            padding:5px 2px;
            }
        table.tblHelp tr td.tdHelp1{width:175px;padding:5px 0;}
        table.tblHelp tr td.tdHelp2{width:596px;}
        
        
        
    table.tblCumulative{
        float:left;
        width:726px;
        font-size:11px;
        }
        table.tblCumulative tr th,
        table.tblCumulative tr td{
            float:left;
            padding:3px 2px;
            }
        table.tblCumulative tr th.col1,
        table.tblCumulative tr td.col1{width:296px;}
        table.tblCumulative tr th.col2,
        table.tblCumulative tr td.col2{width:245px;}
        table.tblCumulative tr th.col3,
        table.tblCumulative tr td.col3{
            text-align:center;
            width:172px;
            }
        table.tblCumulative tr td.colspan{width:722px;text-align:center;}
        
        

/* ------------------------------------------
 * CSS3 GITHUB BUTTONS (Nicolas Gallagher)
 * Licensed under Unlicense
 * http://github.com/necolas/css3-github-buttons
 * --------------------------------------- */


/* =============================================================================
   Base Button
   ========================================================================== */

.button {position: relative;overflow: visible;display: inline-block;padding: 0.5em 1em;border: 1px solid #d4d4d4;margin: 0;text-decoration: none;text-align: center;text-shadow: 1px 1px 0 #fff;font:11px/normal sans-serif;color: #333;white-space: nowrap;cursor: pointer;outline: none;background-color: #ececec;background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));background-image: -moz-linear-gradient(#f4f4f4, #ececec);background-image: -ms-linear-gradient(#f4f4f4, #ececec);background-image: -o-linear-gradient(#f4f4f4, #ececec);background-image: linear-gradient(#f4f4f4, #ececec);-moz-background-clip: padding; /* for Firefox 3.6 */background-clip: padding-box;border-radius: 0.2em;/* IE hacks */zoom: 1;*display: inline;}

.button:hover,
.button:focus,
.button:active,
.button.active {border-color: #3072b3;border-bottom-color: #2a65a0;text-decoration: none;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);color: #fff;background-color: #3c8dde;background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));background-image: -moz-linear-gradient(#599bdc, #3072b3);background-image: -o-linear-gradient(#599bdc, #3072b3);background-image: linear-gradient(#599bdc, #3072b3);}

.button:active,
.button.active {border-color: #2a65a0;border-bottom-color: #3884cd;background-color: #3072b3;background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3072b3), to(#599bdc));background-image: -moz-linear-gradient(#3072b3, #599bdc);background-image: -ms-linear-gradient(#3072b3, #599bdc);background-image: -o-linear-gradient(#3072b3, #599bdc);background-image: linear-gradient(#3072b3, #599bdc);}

/* overrides extra padding on button elements in Firefox */
.button::-moz-focus-inner {    padding: 0;    border: 0;}

/* =============================================================================
   Button extensions
   ========================================================================== */

/* Primary button
   ========================================================================== */

.button.primary {font-weight: bold;}

/* Pill button
   ========================================================================== */
.button.pill { border-radius: 50em;}

/* Disabled button
   ========================================================================== */
.button.disable {opacity: 0.5;}

/* Big button
   ========================================================================== */
.button.big {font-size: 14px;}


/* =============================================================================
   Button groups
   ========================================================================== */
.button-group {display: inline-block;list-style: none;padding: 0;margin: 0;/* IE hacks */zoom: 1;*display: inline;}

.button + .button,
.button + .button-group,
.button-group + .button,
.button-group + .button-group {margin-left: 15px;}

    .button-group li {float: left;padding: 0;margin: 0;}

.button-group .button {float: left;margin-left: -1px;}

.button-group > .button:not(:first-child):not(:last-child),
.button-group li:not(:first-child):not(:last-child) .button {border-radius: 0;}

.button-group > .button:first-child,
.button-group li:first-child .button {margin-left: 0;border-top-right-radius: 0;border-bottom-right-radius: 0;}

.button-group > .button:last-child,
.button-group li:last-child > .button {border-top-left-radius: 0;border-bottom-left-radius: 0;}

/* Minor group
========================================================================== */

.button-group.minor-group .button {border: 1px solid #d4d4d4;text-shadow: none;background-image: none;background-color: #fff;}

.button-group.minor-group .button:hover,
.button-group.minor-group .button:focus {background-color: #599bdc;}

.button-group.minor-group .button:active,
.button-group.minor-group .button.active {background-color: #3072b3;}

.button-group.minor-group .button.icon:before {opacity: 0.8;}

/* =============================================================================
Button container (mixing buttons and groups, e.g., nav bar)
========================================================================== */

.button-container .button,
.button-container .button-group {vertical-align: top;}




            
/* **************************** */
/* START OF MODAL POP UP LAYOUT */
/* **************************** */
/* Customize your modal window here, you can add background image too */  
        
.showOptions {display:none;}

/* Overlay */
#simplemodal-overlay {background-color:#000; cursor:wait;}

/* Container */
#simplemodal-container {    
    padding:12px;
    width:auto; height:auto; 
    color:#000; background-color:#fff; 
    border:4px solid #444; 
    }
#simplemodal-container .simplemodal-data {padding:0;}

#simplemodal-container p {margin:0 0 10px 0;}
#simplemodal-container p.footnote {font-size:10px; font-style:italic;}
#simplemodal-container a {color:#EB6E1F;}
#simplemodal-container a.modalCloseImg {background:url(../imgs/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h3 {color:#84b8d9;}
        
        